@model IEnumerable<Tarefa3_MVC.Models.Curso>

@{
    ViewBag.Title = "Cursos";
}

<h2>Cursos</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Universidades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome) do Curso
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Universidades.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CursoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CursoID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.CursoID })
        </td>
    </tr>
}

</table>
